<template>
  <Loader v-if="loading"/>
    <div v-else class="ingrediant-container">
      <SearchBar v-model='keyword' :wrap='wrap'/>
      
        <div class="ingrediant" v-for="ing in computedIngrediants" :key="ing.idIngredient">
          
          <router-link :to="{name:'mealsbyingrediants', params:{nameId:ing.strIngredient}}">
            <h2>{{ing.strIngredient}}</h2>
            <p>{{ing.strDescription}}</p>
          </router-link>
         
        </div>
        
         
    </div>
    
  </template>
  
  <script setup>
    
    import Loader  from './Loader.vue';
    import SearchBar from './SearchBar.vue'
    import { toast } from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';
      import {onMounted,computed,ref,watch} from 'vue'
    import {useStore} from 'vuex'

    const store = useStore()
    const ingrediants = computed(()=>store.getters.ingrediants)
    const loading = computed(()=>store.getters.getLoader) 
    const keyword = ref('')
    
      const computedIngrediants = computed(()=>ingrediants.value.filter(ing=>ing.strIngredient.toLowerCase().includes(keyword.value)))
      const notify = ()=>{
        toast('No ingrediants to show!',{
          autoClose:1000,
          position:toast.POSITION.BOTTOM_CENTER,
          transition:toast.TRANSITIONS.ZOOM
        })
      }
       

    const wrap = {
      width:'30%',
      margin:'0 auto'

    }

    watch(computedIngrediants,()=>{
      !computedIngrediants.value.length && notify()
    })

    onMounted(async()=>{
      store.dispatch('setIngrediants')
     
    })

  </script>
  
    <style scoped>

    .ingrediant-container{
      width:70%;
      padding: 1.5em;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    }
    .ingrediant {
      
     
      padding: 0.5em;
     margin-top: 1.5em;
     background: rgb(36,35,65);
background: linear-gradient(142deg, rgba(36,35,65,0.8323704481792717) 13%, rgba(9,9,121,1) 65%, rgba(0,9,10,1) 70%);
border-bottom-right-radius: 20px;
    }
    
  </style>