<template>
  <div>
    <SearchBar v-model='keyword' @input='testInput' :meals='true' :wrap='wrap' />
    <div class="meals">
     
     <Loader v-if="loader"/>
     <Cards v-else :meals='meals'/>
    
    
    </div>
  </div>
</template>

<script setup>

  import {ref,computed} from 'vue'
  import SearchBar from './SearchBar.vue'
  import Cards from './Cards.vue'
  import Loader from './Loader.vue'
  import {useStore} from 'vuex'
 
  
  const store = useStore()
  
  const keyword = ref('')
  const loader = computed(()=>store.getters.getLoader) 
  const meals = computed(()=>store.getters.getSearchedMeals || [])
  
  const wrap={
   width: '30%',
   position: 'absolute',
   top: '10%',
   left: '50%',
   transform: 'translate(-50%, -50%)'
 }
  
  const testInput = ()=>{
   
  store.dispatch('setSearchMeals',keyword.value)
  
  
  
 }
</script>

<style scoped>
  .meals{
    width: 80%;
    padding-top: 4em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    }
 </style>