<template>
   <ul :style="props.randommeals ? props.random : cards">
      <MealItem v-for="meal in props.meals" :key="meal.idMeal" :meal='meal' :mealsbyingrediants="mealsbyingrediants" />
    </ul>
</template>

<script setup>
import MealItem from './MealItem.vue';
  import {defineProps,onUnmounted} from 'vue'
  import {useStore} from 'vuex'
  const props = defineProps({
    meals:Array,
    mealsbyingrediants:Boolean,
    random:Object,
    randommeals:Boolean
  })
  const cards = {
  display: 'flex',
  flexWrap: 'wrap',
  listStyle: 'none',
  margin: 0,
  padding:0 
} 

const store = useStore()

onUnmounted(()=>{
  
    store.commit('resetMeals','searchMeals')
  })
 
</script>

<style>
      

</style>