<template>
 
      <Loader v-if='loading'/>
      <div v-else class="shadow">
      <h1 style="padding: 0.5em">
         Random Meals
      </h1>
     
      <Cards :meals='tenRandomMeals' :random='random' :randommeals='true'/>
   
   </div>
   
   
</template>

<script setup>
import {onMounted, computed,onUnmounted} from 'vue'
import {useStore} from 'vuex'
import Cards from './Cards.vue';
import Loader from './Loader.vue'
const store = useStore()

const tenRandomMeals = computed(()=>store.getters.tenRandomMeals)
const loading = computed(()=>store.getters.getLoader)

const random = {
  display: 'flex',
  flexWrap: 'wrap',
  listStyle: 'none',
  margin: 0,
  padding:0 
} 

onMounted(()=>{
   
   
   for(let i=0; i<10;i++){
      store.dispatch('setRandomMeals')
   }
   
  
})
onUnmounted(()=>{
  
   store.commit('resetMeals','tenRandomMeals')
})
 </script>

<style scoped>
  
</style>