<template>
  <div>
    <Loader v-if="loading"/>
    <Cards v-else :meals='mealsbyingrediants' :mealsbyingrediants='true'/>
  </div>
  
</template>

<script setup>
    import { onMounted, computed } from 'vue'
import {useRoute} from 'vue-router'
import Cards from './Cards.vue'
import Loader from './Loader.vue'
    import {useStore} from 'vuex'
    const route = useRoute()
    const store=useStore()
    const mealsbyingrediants = computed(()=>store.getters.getSearchedMealsByIngredient)
    const loading = computed(()=>store.getters.getLoader)
    onMounted(()=>{
        store.dispatch('setSearchedMealsByingredient', route.params.nameId)
    })
</script>

<style>

</style>