<template>
  <div class="meal">
    <div>
      <h1>{{meal.strMeal}}</h1>
    </div>
    <div>
      <img :src="meal.strMealThumb" :alt="meal.strMeal">
    </div>
    <div class="meal-detail-1">
      <p><strong>Category:</strong>  <span>{{meal.strCategory}}</span></p>
      <p><strong>Area:</strong>  <span>{{meal.strArea}}</span></p>
      <p><strong>Tags:</strong>  <span>{{meal.strTags}}</span></p>
    </div>
    <div class="instructions">
      <p>
        {{meal.strInstructions}}
      </p>
    </div>
    <div class="meal-detail-2">
      <div class="meal-ingredients">
        <h2>Ingredients</h2>
        <ul>
          <li v-for="(ingredient,index) in listOfIngredients" :key="index">
            {{ingredient}}
          </li>
        </ul>
      </div>
      <div class="meal-measures">
        <ul>
          <h2>
            Measures
          </h2>
          <li v-for="(measure,index) in listOfMeasures" :key="index">
            {{measure}}
          </li>
        </ul>
      </div>
      <div>
      
        </div>
    </div>
    <div class="buttons">

      <YouTubeButton :youtube='meal.strYoutube'>
            YouTube
          </YouTubeButton>
          <YouTubeButton :youtube='meal.strSource'>
        View Original Source
    </YouTubeButton>
        
    </div>
  </div>
  
</template>

<script setup>
import {onMounted, ref} from 'vue'
import {useRoute} from 'vue-router'
import axiosClient from '../axiosClient'
import YouTubeButton from './YouTubeButton.vue'
const route = useRoute()
let meal = ref({})

const listOfIngredients = ref([])
const listOfMeasures = ref([])

const takeDetails = (obj,detail,arr)=>{
  for(const i in obj){
    i.includes(detail) && obj[i] !== " " && obj[i] !== "" && arr.value.push(obj[i])
  }
}


onMounted(async()=>{
  meal.value = (await axiosClient.get(`/lookup.php?i=${route.params.id}`)).data.meals[0] || {}
  takeDetails(meal.value,'strIngredient',listOfIngredients)
  takeDetails(meal.value,'strMeasure',listOfMeasures)
})

</script>

<style scoped>

  .meal {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
    
    padding: 1em;
  }
  .meal img {
    border-top-left-radius: 1.5em;
border-bottom-right-radius: 1.5em;
  }
  .meal-detail-1,
  .meal-detail-2,
  .buttons
  {
    display: flex;
    justify-content: space-evenly;
  }
  .meal-detail-2 li {
    list-style: none;
  }

  .meal-detail-1 {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    margin: 1em;
  }

  .meal-ingredients,
  .meal-measures,
  .instructions {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1em;
    margin:1em;
  }
  
</style>