<template>
  <li class="cards_item">
      <div class="card">
        <div class="card_image">
          <router-link :to="{name:'meal', params:{id:props.meal.idMeal}}">

            <img :src="props.meal.strMealThumb">
          </router-link>
        </div>
        <div class="card_content">
          <h2 class="card_title">{{props.meal.strMeal}}</h2>
          <p class="card_text">{{props.meal.strArea}}</p>
          <div class="btn-flex">
           
             <YouTubeButton v-if="!mealsbyingrediants" :youtube='props.meal.strYoutube'>
              You Tube
            </YouTubeButton>
                                        
          </div>
                  </div>
      </div>
    </li>
</template>

<script setup>
    import YouTubeButton from './YouTubeButton.vue';
    import {defineProps} from 'vue'
    const props = defineProps({
        meal:Object,
        mealsbyingrediants:{
          type:Boolean,
          default:true
        }
    })
</script>

<style>

    .cards_item {
  display: flex;
  
  }

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0.5em;
  margin: 0.5em;
}

.card_content {
  padding: 1rem;
  background: rgb(36,35,65);
background: linear-gradient(180deg, rgba(36,35,65,0.8323704481792717) 22%, rgba(9,9,121,1) 49%, rgba(32,38,38,1) 78%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn-flex {
  display: flex;
 
}

</style>