<template>
  
<ul >
  <div class="left">
    
      <li>
        <router-link :to="{name:'home'}">Home</router-link>
      </li>
   
  </div>
  <div class="right">

    <li> <router-link :to="{name:'byname'}">Search Meals</router-link></li>
    <li> <router-link :to="{name:'byletter'}">Search By Letter</router-link></li>
    <li> <router-link :to="{name:'byingrediants'}">Search By Ingrediants</router-link></li>
   
  </div>
</ul>
</template>

<script setup>
 
  
  
</script>
<style scoped>
ul {
  border-radius: 8px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgb(36,35,65);
background: linear-gradient(180deg, rgba(36,35,65,0.8323704481792717) 22%, rgba(9,9,121,1) 49%, rgba(32,38,38,1) 78%);
}

.right {
  float: right;
  display: flex;
}

.left {
  float: left;
  display: flex;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>