<template>
  <div>
    <Loader v-if="loading"/>
    <Cards v-else :meals='mealsByLetter'/>
   
  </div>
</template>

<script setup>
    
import Cards from './Cards.vue'   
import Loader from './Loader.vue'
import { onMounted,computed,watch } from 'vue'
import {useRoute} from 'vue-router'
import {useStore} from 'vuex'
const route = useRoute()
const store = useStore()

const mealsByLetter = computed(()=>store.getters.getMealsByLetteer)
const searchPath = computed(()=>route.params.letter ? route.params.letter.toLowerCase() : '')
const loading = computed(()=>store.getters.getLoader)

watch(route,()=>{
  store.dispatch('setMealsByLetter',searchPath.value)
})


onMounted(()=>{
  store.dispatch('setMealsByLetter',searchPath.value)

 
})

</script>

<style scoped>
    
</style>