<template>
    <div :style="wrap">
     <div class="search">
        <input type="text" class="searchTerm" 
        
        @input="updateValue($event.target.value)" 
        :value="props.modelValue"
        >
       
     </div>
  </div>
    
    
  </template>
  
  <script setup>
  import {defineProps,defineEmits,onMounted} from 'vue'
  import {useRoute} from 'vue-router'
  import {useStore} from 'vuex'
  const props = defineProps({
    modelValue:String,
    meals:Boolean,
    wrap:Object
  })

  const store = useStore()
  const route = useRoute()
  const emit = defineEmits(['update:modelValue'])



  const updateValue = (value)=>{
    emit('update:modelValue',value)
  }
 

  onMounted(()=>{
    
    if(route.params.name){

      emit('update:modelValue',route.params.name)
      store.dispatch('setSearchMeals',route.params.name)
    }else{
      return
    }
  })
  

  
  </script>
  
  <style scoped>
    @import url(https://fonts.googleapis.com/css?family=Open+Sans);
  
  
  
  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid rgb(36,35,65);
;
    
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: rgb(36,35,65);
  }
  
  .searchTerm:focus{
    color: rgb(36,35,65);
  }
  
  
  </style>