<template>
    <div class="container">

        <div class="wrap">
            <router-link 
            v-for="letter in letters" :key="letter"
            :to="{name:'byletterresults', params:{letter}}"
            >
              <strong>  {{letter}}</strong>
            </router-link>
        </div>
        <router-view></router-view>
    </div>
</template>

<script setup>
    const letters = 'A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z'.split(',')
</script>

<style scoped>
    .wrap{
    width: 40%;
    position: absolute;
    top:5vh;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
    padding: 1.5em;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  }
  .wrap a {
    color:black;
    
    
  }
  .container {
    position: relative;
    padding-top: 10vh;
  }
</style>