<template>
 <button class="btn">
    <a :href="props.youtube"
                target="_blank"
              ><slot></slot></a>
 </button>
</template>

<script setup>
import {defineProps} from 'vue'
    const props = defineProps({
        youtube:String,
       
       
    })
 

</script>

<style>
    
.btn {
  color: #ffffff;
  padding: 0.3rem;
  margin: 0.3rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 50%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: crimson;

}

.btn:hover {
  background-color: rgb(70, 69, 69);
}
.btn-flex {
  display: flex;
 
}
a {
  text-decoration: none;
  color: #ffffff;
}

</style>